*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.second-image {
    width: 100%;
    height: 550px;
    background-image: url(main\ image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.046); 
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 20px; 
}

.overlay h1 {
    font-size: 50px;
    margin: 0;
}

.overlay button {
    background-color: rgba(121, 41, 249, 0.849);
    color: white;
    border: 0;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 300;
    font-size: larger;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .second-image {
        height: 400px; 
    }

    .overlay h1 {
        font-size: 35px;
    }

    .overlay button {
        font-size: medium;
        padding: 8px 20px;
    }
}

@media (max-width: 480px) {
    .second-image {
        height: 300px;
    }

    .overlay h1 {
        font-size: 28px;
    }

    .overlay button {
        font-size: small;
        padding: 6px 15px;
    }
}

.most-pop{
    padding: 10px 50px;
    margin-top: 10px;
}

.slick-slider{
    width: 100%;
    /* margin: auto; */
    background-color: #201e1e;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.slick-slider img{
    height: 130px;
    width: 100px;
    margin: auto;
    border-radius: 5px;
}

.items{
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-hr {
    width: 95%;
    color: rgba(255, 255, 255, 0.712);
    background-color: rgba(255, 255, 255, 0.674);
    margin: auto;
    height: 2px; 
    border: none; 
    opacity: 1 !important;
}


.footer {
    margin-top: 24%;
    background-color:  #141313;
    color: white;
    padding: 40px 0;
}

.footer h5 {
    font-size: 16px;
    margin-bottom: 20px;
    color: white;
    text-transform: uppercase;
}

.footer ul {
    padding-left: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: #a6a6a6;
    text-decoration: none;
}

.footer ul li a:hover {
    color: white;
}

.footer .row hr {
    border-color: #8e8d8d;
    margin: 30px 0;
    height: 4px;
}

.footer p {
    margin: 0;
    color: #a6a6a6;
    font-size: 14px;
}

.footer .col-md-3 ul li a i {
    font-size: 18px;
    margin-right: 10px;
    color: #a6a6a6;
}

.footer .col-md-3 ul li a i:hover {
    color: white;
}

